@model FoodTracker.Models.ViewModels.IndexViewModel
<br />

<div class="backgroundWhite container">

	<ul id="menu-filters" class="menu-filter-list list-inline text-center">
		<li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>
		@foreach (var item in Model.Category)
		{
			<li class="ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
		}

	</ul>

	<p>
		<a asp-action="Create" asp-controller="Food" asp-area="Admin" class="btn btn-info offset-5"><i class="fas fa-plus"></i> &nbsp;  Create New</a>
	</p>



	@if (Model.FoodItem.Count() == 0)
	{
		<h4>There is food for all foodtype :)</h4>
	}

	@foreach (var category in Model.Category)
	{
		<div class="row" id="menu-wrapper">
			<partial name="_ShoppingListCategory" model="@Model.FoodItem.Where(u=>u.Category.Name.Equals(category.Name))" />
		</div>
	}
</div>

@section Scripts{
	<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
	<script>
		var posts = $('.post');

		(function ($) {

			$("#menu-filters li").click(function () {
				$("#menu-filters li").removeClass('active btn btn-secondary');
				$(this).addClass('active btn btn-secondary');

				var selectedFilter = $(this).data("filter");

				$(".menu-restaurant").fadeOut();

				setTimeout(function () {
					$(selectedFilter).slideDown();
				}, 300);
			});



		})(jQuery);</script>
}

