@model QuantityLeft

@if (Model== QuantityLeft.Semennyi)
{
	<h4 class="text-danger">@Model</h4>
}
@if (Model == QuantityLeft.Keves)
{
	<h4 class="text-warning">@Model</h4>
}
@if (Model== QuantityLeft.Adagnyi)
{
	<h4 class="text-info">@Model</h4>
}
@if (Model== QuantityLeft.Sok)
{
	<h4 class="text-success">@Model</h4>
}
