@model int
<td style="width:150px">
	<div class="btn-group" role="group">
		<a class="btn btn-primary text-white" asp-controller="Shopping" asp-action="AddToStock" asp-area="User" asp-route-Id="@Model">
			<i class="fas fa-edit"></i>
		</a>		
		<a class="btn btn-success text-white" asp-controller="Shopping" asp-action="AddToCart" asp-area="User" asp-route-Id="@Model">
			<i class="fas fa-cart-plus"></i>
		</a>		
	</div>
</td>